.projectBody{
	float: left;
	width: 1100px;
	height: 560px;
}
.projectBody .left{
	float: left;
	width: 525px;
	height: 560px;
	margin-left: 25px;
	border-right: 1px solid #d5d5d5;
}
.projectBody .right{
	float: left;
	width: 525px;
	height: 560px;
}
.lbl{
	float: left;
	width: 150px;
	height: 29px;
	margin-top: 10px;
	margin-left: 10px;
	border-bottom: 1px solid #d5d5d5;
	line-height: 30px;
	color:#990000;
    text-align: center;
}
.txt{
	float: left;
	width: 325px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #fff;
	border-top: 1px solid #fff;
	border-left:  1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #d5d5d5;
}
.textarea{
	float: left;
	width: 325px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
    font-size: 14px;
}
.file_css{
	float: left;
	width: 250px;
	height: 30px;
	margin-left: 10px;
	margin-top: 20px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.button{
	float: left;
	width: 240px;
	height: 30px;
	margin-left: 100px;
	margin-top: 20px;
	background-color: #fff;
	border-top: 1px solid #d5d5d5;
	border-left:  1px solid #fff;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
    color: #990000;
}
.button:hover{
		width: 260px;
	    color: #990000;
}
.slct{
	float: left;
	width: 325px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #fff;
	border-top: 1px solid #fff;
	border-left:  1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #d5d5d5;
}